################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcrossSystems/.vs/AcrossSystems/v15/Server/sqlite3
/AcrossSystems/AcrossSystems/obj
/.vs
/AcrossSystems/.vs/AcrossSystems/v15
